#!/bin/sh

PATH=/sbin:/usr/sbin:/bin:/usr/bin

#get env changes into current execution
. /etc/profile.d/profile_d_teamcity.sh

INSTRUCTION=$1
shift
case "$INSTRUCTION" in
start)
    sh {{teamcity_agent_bin_directory}}/agent.sh start $1
;;
stop)
    sh {{teamcity_agent_bin_directory}}/agent.sh stop $1
    INSTRUCTION_RETURN_CODE=$?

    if [ "$INSTRUCTION_RETURN_CODE" -gt 0 ]; then
        printf "\nForce killing TeamCity via {{teamcity_agent_bin_directory}}/agent.sh stop kill\n\n"
        sh {{teamcity_agent_bin_directory}}/agent.sh stop kill
    fi
;;
*)
  echo "Usage: as $0 (start|stop)"
  exit 1
;;
esac
